<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.abrahamlay.mapmashup2">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.dev.abraham.mapmashup.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission-sdk-23 android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission-sdk-23 android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HelpActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".UploadService"
            android:exported="true" />

        <activity
            android:name=".SelectUploadActivity"
            android:label="@string/title_select_upload"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChannelListActivity"
            android:label="@string/title_channell_list"
            android:parentActivityName=".SelectUploadActivity" />
        <activity
            android:name=".SearchVideoListActivity"
            android:label="@string/title_search_video"
            android:parentActivityName=".SelectUploadActivity" />
        <activity
            android:name=".AccountVideoListActivity"
            android:label="@string/title_pick_video"
            android:parentActivityName=".SelectUploadActivity" />
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".AccountVideoListActivity" />
        <activity
            android:name=".PlayActivity"
            android:label="@string/title_activity_play" />
        <activity
            android:name=".TagLocationActivity"
            android:label="@string/title_tag_location"
            android:parentActivityName=".PlayActivity" />
        <activity
            android:name=".ChannelVideoListActivity"
            android:label="@string/title_select_video"
            android:parentActivityName=".ChannelListActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/debug_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".WebViewActivity"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>